
/*
 * Copyright (c) 2018 ETH Zurich.
 * All rights reserved.
 *
 * This file is distributed under the terms in the attached LICENSE file.
 * If you do not find this file, copies can be found by writing to:
 * ETH Zurich D-INFK, Universitätstrasse 6, CH-8092 Zurich. Attn: Systems Group.
 */
/*
 * This interface is used in the e1000 driver for the device specific
 * communication between the device manager and the setup for the devif device
 * interface. The driver exposes the interface and the devif e1000 device
 * specific part connects to it
 */

interface zynqmp_cni_devif "zynqmp_cni devif communication interface" {
	message push_tx_msg(uint32 slot, String msg[256]);
	message read_rx_msg_request(uint32 slot);
	message read_rx_msg_response(String msg[256]);
	message check_controller_lifesign_request();
	message update_host_lifesign(uint32 lifesign);
};

